<div role="footer" class="hv-footer expanded row">
  <div class="large-4 medium-12 small-12 column text-center">
    <h3>Our Mission</h3>
    <p>We exist as a community to offer praise, worship and thanksgiving to the biblical God, the <span class="hv-footer-em">Father,</span>      who reveals himself through his <span class="hv-footer-em">Son</span> Jesus Christ and who sends his life creating
      <span class="hv-footer-em">Holy Spirit.</span></p>
  </div>
  <div class="large-4 medium-6 show-for-medium column text-center">
    <h3>Navigation</h3>
    <ul class="vertical menu">
      <li><a href="/news">News</a></li>
      <li><a href="/calender">Calender</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/donate">Donate</a></li>

    </ul>
  </div>
  <div class="large-4 medium-6 small-12 column text-center">
    <h3>Nativity of the Holy Virgin</h3>
    <p>Diocese of the South<br />
      <a href="http://oca.org">Orthodox Church Of America</a><br /> 1700 Mineral Springs Rd<br /> Charlotte, NC 28262<br
      /> Tel: 704-596-8252</p>
  </div>
</div>
