  <div class="top-bar">
    <div class="top-bar-title">
      <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
            <span class="menu-icon light" data-toggle></span>
      </span>
      <a href="/">Nativity Of The Holy Virgin</a>
    </div>
    <div id="responsive-menu">
      <div class="top-bar-right">
        <ul class="vertical medium-horizontal menu">
          <li>
            <a href="/news">News</a>
          </li>
          <li>
            <a href="/donate">Donate</a>
          </li>
          <li>
            <a href="/ministries">Ministries</a>
          </li>
          <li>
            <a href="/about-orthodoxy">Our Faith</a>
          </li>
          <li>
            <a href="/parish">Our Parish</a>
          </li>
          <li>
            <a href="/calender">Calender</a>
          </li>
        </ul>
      </div>
    </div>
  </div>