<h2>Lenten Schedule</h2>
<p>Wed 3/15 @ 5:00 P.M. Confessions / 6:00 P.M. Presanctified Liturgy followed by Potluck</p>
<p>Sat 3/18 @ 5:30 P.M. Great Vespers (confessions heard before and after service)</p>
<p>Sun 3/19 @ 9:30 A.M. Divine Liturgy</p>
<p>Wed 3/22 @ 5:00 P.M. Confessions / 6:00 P.M. Great Vespers followed by Potluck</p>
<p>Sat 3/25 @ 5:30 P.M Great Vespers (confessions heard before and after service)</p>
<p>Sun 3/26 @ 9:30 A.M. Divine Liturgy - Feast of the Annunciation</p>
<p>Wed 3/29 @ 5:00 P.M. Confessions / 6:00 P.M. Presanctified Liturgy followed by Potluck</p>
<p>Sat 4/1 @ 5:30 P.M. Great Vespers (confessions heard before and after service)</p>
<hr />
<h1>Service Schedule</h1>
<h3>Sunday</h3>
<p>Hours 9:10 AM</p>
<p>Divine Litury 9:30 AM</p>
<h3>Saturday</h3>
<p>Great Vespers 5:30 PM</p>