<h2>Lenten Services</h2>
<p>2/26 @ 9:30 A.M. - Divine Liturgy followed by Forgiveness Vespers</p>
<p>2/27 @ 5:00 P.M. - Confessions / 6:00 P.M. - Canon of St. Andrew of Crete</p>
<p>2/28 @ 5:00 P.M. - Confessions / 6:00 P.M. - Canon of St. Andrew of Crete</p>
<p>3/1 @ 5:00 P.M. - Confessions / 6:00 P.M. - Presanctified Liturgy</p>
<p>3/8 @ 5:00 P.M. - Confessions / 6:00 P.M. - Presanctified Liturgy</p>
<hr />
<h1>Service Schedule</h1>
<h3>Sunday</h3>
<p>Hours 9:10 AM</p>
<p>Divine Litury 9:30 AM</p>
<h3>Saturday</h3>
<p>Great Vespers 5:30 PM</p>