@font-face {
    font-family: 'GFS Fleischman';
    src: url('/font/GFSFleischman.otf');
}

@font-face {
    font-family: 'Vollkorn SC';
    src: url("https://fonts.googleapis.com/css?family=Vollkorn+SC");
}
