//  Foundation for Sites Settings
//  -----------------------------

@import 'vendor/foundation/util/util';

$bgcolor: #f9fafb;
$red: #801714;
$blue: #00689d;
$offwhite: #f7f7f7;
$orthodoxGold: #B6912B;
$headerColor: $offwhite;

$global-width: rem-calc(940);
$topbar-background: $red;
$topbar-padding: 0;
