<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}} - About Orthodoxy</title>
    {% include styles.html %}
</head>

<body>
    <!-- Header / Top Navigation -->
    {% include header.html %}

    <!-- Body Content -->
    <div class="expanded row">
        <div class="small-12 medium-3 large-3 column">
            <div class="show-for-medium">
                <ul class="menu vertical">
                    Church History
                    <li><a href="/about-orthodoxy/history">A History of the Orthodox Church</a></li>
                    <li><a href="/about-orthodoxy/orthodoxy-in-america">Orthodoxy in America</a></li>
                    <li><a href="/about-orthodoxy/orthodoxy-in-the-world">Orthodoxy in the World</a></li>
                </ul>
                <ul class="menu vertical">
                    Feasts of the Church
                    <li><a href="/about-orthodoxy/pascha">The Feast of Feasts - Pascha</a></li>
                    <li><a href="/about-orthodoxy/twelve-great-feasts">The Twelve Great Feasts</a></li>
                    <li><a href="/about-orthodoxy/other-feasts">Various Other Feasts</a></li>
                </ul>
                <ul class="menu vertical">
                    Orthodox Dogma and Doctrine
                    <li><a href="/about-orthodoxy/holy-tradition">Holy Tradition</a></li>
                    <li><a href="/about-orthodoxy/beatitudes">The Beatitudes</a></li>
                    <li><a href="/about-orthodoxy/christian-ethic">The Christian Ethic</a></li>
                    <li><a href="/about-orthodoxy/mother-of-god">The Mother of God</a></li>
                    <li><a href="/about-orthodoxy/symbol-of-faith">The Symbol of Faith</a></li>
                    <li><a href="/about-orthodoxy/ten-commandments">The Ten Commandments</a></li>
                </ul>
                <ul class="menu vertical">
                    Orthodox Icons
                    <li><a href="/about-orthodoxy/holy-icons">Holy Icons</a></li>
                    <li><a href="/about-orthodoxy/icons-not-made-by-hands">Icons Not Made By Hands</a></li>
                    <li><a href="/about-orthodoxy/icons-mother-of-god">Icons of the Mother of God</a></li>
                </ul>
                <ul class="menu vertical">
                    Orthodox Monasticism
                    <li><a href="/about-orthodoxy/monastic-grades">The Monastic Grades</a></li>
                    <li><a href="/about-orthodoxy/monastic-tonsure">The Monastic Tonsure</a></li>
                </ul>
                <ul class="menu vertical">
                    Orthodox Prayer
                    <li><a href="/about-orthodoxy/communing-with-god-in-prayer">Communing With God in Prayer</a></li>
                    <li><a href="/about-orthodoxy/prayer-for-the-dead">The Church's Prayer for the Dead</a></li>
                </ul>
                <ul class="menu vertical">
                    Orthodox Scripture
                    <li><a href="/about-orthodoxy/holy-bible">The Holy Bible</a></li>
                    <li><a href="/about-orthodoxy/new-testament">The New Testament</a></li>
                    <li><a href="/about-orthodoxy/old-testament">The Old Testament</a></li>
                    <li><a href="/about-orthodoxy/apocrypha">The Old Testament Apocrypha</a></li>
                    <li><a href="/about-orthodoxy/used-in-church">Used In Church</a></li>
                    <li><a href="/about-orthodoxy/where-to-find">Where to Find</a></li>
                </ul>
                <ul class="menu vertical">
                    Orthodox Symbolism
                    <li><a href="/about-orthodoxy/cross">The Cross</a></li>
                    <li><a href="/about-orthodoxy/other-symbols">The Other Symbols</a></li>
                </ul>
                <ul class="menu vertical">
                    Orthodox Worship
                    <li><a href="/about-orthodoxy/fasting">Fasting</a></li>
                    <li><a href="/about-orthodoxy/fasting-rules">Fasting Rules</a></li>
                    <li><a href="/about-orthodoxy/fasting-seasons-and-days">Fasting Seasons and Days</a></li>
                    <li><a href="/about-orthodoxy/glossary">Glossary of Liturgical Terms</a></li>
                    <li><a href="/about-orthodoxy/great-lent">Great Lent and Pascha</a></li>
                    <li><a href="/about-orthodoxy/liturgical-books">Liturgical Books</a></li>
                    <li><a href="/about-orthodoxy/liturgical-gestures">Liturgical Gestures</a></li>
                    <li><a href="/about-orthodoxy/liturgical-music">Liturgical Music</a></li>
                    <li><a href="/about-orthodoxy/daily-cycle">Services of the Daily Cycle</a></li>
                    <li><a href="/about-orthodoxy/divine-liturgy">The Divine Liturgy</a></li>
                    <li><a href="/about-orthodoxy/five-cycles">The Five Cycles</a></li>
                </ul>
                <ul class="menu vertical">
                    Sacraments of the Church
                    <li><a href="/about-orthodoxy/church-mysteries">Church Mysteries</a></li>
                    <li><a href="/about-orthodoxy/holy-baptism">Holy Baptism</a></li>
                    <li><a href="/about-orthodoxy/holy-chrismation">Holy Chrismation</a></li>
                    <li><a href="/about-orthodoxy/holy-communion">Holy Communion</a></li>
                    <li><a href="/about-orthodoxy/holy-matrimony">Holy Matrimony</a></li>
                    <li><a href="/about-orthodoxy/holy-orders">Holy Orders</a></li>
                    <li><a href="/about-orthodoxy/holy-repentance">Holy Repentance</a></li>
                    <li><a href="/about-orthodoxy/holy-unction">Holy Unction</a></li>

                </ul>
                <ul class="menu vertical">
                    The Church Building and Its Servers
                    <li><a href="/about-orthodoxy/altar">The Altar and Its Furnishings</a></li>
                    <li><a href="/about-orthodoxy/bells">The Bells</a></li>
                    <li><a href="/about-orthodoxy/candles">The Candles and Their Symbolism</a></li>
                    <li><a href="/about-orthodoxy/church-building">The Church Building</a></li>
                    <li><a href="/about-orthodoxy/clergy">The Clergy</a></li>
                    <li><a href="/about-orthodoxy/iconostasis">The Iconostasis</a></li>
                    <li><a href="/about-orthodoxy/sacristy-and-vestry">The Sacristy and Vestry</a></li>
                </ul>
            </div>
            <div class="show-for-small-only">
                <ul class="vertical menu" data-accordion-menu>
                    <li>
                        <a href="#0">Church History</a>
                        <ul class="menu vertical nested">
                            <li><a href="/about-orthodoxy/history">A History of the Orthodox Church</a></li>
                            <li><a href="/about-orthodoxy/orthodoxy-in-america">Orthodoxy in America</a></li>
                            <li><a href="/about-orthodoxy/orthodoxy-in-the-world">Orthodoxy in the World</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#0">Feasts of the Church</a>
                        <ul class="menu vertical nested">
                            <li><a href="/about-orthodoxy/pascha">The Feast of Feasts - Pascha</a></li>
                            <li><a href="/about-orthodoxy/twelve-great-feasts">The Twelve Great Feasts</a></li>
                            <li><a href="/about-orthodoxy/other-feasts">Various Other Feasts</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#0">Orthodox Dogma and Doctrine</a>
                        <ul class="menu vertical nested">
                            <li><a href="/about-orthodoxy/holy-tradition">Holy Tradition</a></li>
                            <li><a href="/about-orthodoxy/beatitudes">The Beatitudes</a></li>
                            <li><a href="/about-orthodoxy/christian-ethic">The Christian Ethic</a></li>
                            <li><a href="/about-orthodoxy/mother-of-god">The Mother of God</a></li>
                            <li><a href="/about-orthodoxy/symbol-of-faith">The Symbol of Faith</a></li>
                            <li><a href="/about-orthodoxy/ten-commandments">The Ten Commandments</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#0">Orthodox Icons</a>
                        <ul class="menu vertical nested">
                            <li><a href="/about-orthodoxy/holy-icons">Holy Icons</a></li>
                            <li><a href="/about-orthodoxy/icons-not-made-by-hands">Icons Not Made By Hands</a></li>
                            <li><a href="/about-orthodoxy/icons-mother-of-god">Icons of the Mother of God</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#0">Orthodox Monasticism</a>
                        <ul class="menu vertical nested">
                            <li><a href="/about-orthodoxy/monastic-grades">The Monastic Grades</a></li>
                            <li><a href="/about-orthodoxy/monastic-tonsure">The Monastic Tonsure</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#0">Orthodox Prayer</a>
                        <ul class="menu vertical nested">
                            <li><a href="/about-orthodoxy/communing-with-god-in-prayer">Communing With God in Prayer</a></li>
                            <li><a href="/about-orthodoxy/prayer-for-the-dead">The Church's Prayer for the Dead</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#0">Orthodox Scripture</a>
                        <ul class="menu vertical nested">
                            <li><a href="/about-orthodoxy/holy-bible">The Holy Bible</a></li>
                            <li><a href="/about-orthodoxy/new-testament">The New Testament</a></li>
                            <li><a href="/about-orthodoxy/old-testament">The Old Testament</a></li>
                            <li><a href="/about-orthodoxy/apocrypha">The Old Testament Apocrypha</a></li>
                            <li><a href="/about-orthodoxy/used-in-church">Used In Church</a></li>
                            <li><a href="/about-orthodoxy/where-to-find">Where to Find</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#0">Orthodox Symbolism</a>
                        <ul class="menu vertical nested">
                            <li><a href="/about-orthodoxy/cross">The Cross</a></li>
                            <li><a href="/about-orthodoxy/other-symbols">The Other Symbols</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#0">Orthodox Worship</a>
                        <ul class="menu vertical nested">
                            <li><a href="/about-orthodoxy/fasting">Fasting</a></li>
                            <li><a href="/about-orthodoxy/fasting-rules">Fasting Rules</a></li>
                            <li><a href="/about-orthodoxy/fasting-seasons-and-days">Fasting Seasons and Days</a></li>
                            <li><a href="/about-orthodoxy/glossary">Glossary of Liturgical Terms</a></li>
                            <li><a href="/about-orthodoxy/great-lent">Great Lent and Pascha</a></li>
                            <li><a href="/about-orthodoxy/liturgical-books">Liturgical Books</a></li>
                            <li><a href="/about-orthodoxy/liturgical-gestures">Liturgical Gestures</a></li>
                            <li><a href="/about-orthodoxy/liturgical-music">Liturgical Music</a></li>
                            <li><a href="/about-orthodoxy/daily-cycle">Services of the Daily Cycle</a></li>
                            <li><a href="/about-orthodoxy/divine-liturgy">The Divine Liturgy</a></li>
                            <li><a href="/about-orthodoxy/five-cycles">The Five Cycles</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#0">Sacraments of the Church</a>
                        <ul class="menu vertical nested">
                            <li><a href="/about-orthodoxy/church-mysteries">Church Mysteries</a></li>
                            <li><a href="/about-orthodoxy/holy-baptism">Holy Baptism</a></li>
                            <li><a href="/about-orthodoxy/holy-chrismation">Holy Chrismation</a></li>
                            <li><a href="/about-orthodoxy/holy-communion">Holy Communion</a></li>
                            <li><a href="/about-orthodoxy/holy-matrimony">Holy Matrimony</a></li>
                            <li><a href="/about-orthodoxy/holy-orders">Holy Orders</a></li>
                            <li><a href="/about-orthodoxy/holy-repentance">Holy Repentance</a></li>
                            <li><a href="/about-orthodoxy/holy-unction">Holy Unction</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#0">The Church Building and Its Servers</a>
                        <ul class="menu vertical nested">
                            <li><a href="/about-orthodoxy/altar">The Altar and Its Furnishings</a></li>
                            <li><a href="/about-orthodoxy/bells">The Bells</a></li>
                            <li><a href="/about-orthodoxy/candles">The Candles and Their Symbolism</a></li>
                            <li><a href="/about-orthodoxy/church-building">The Church Building</a></li>
                            <li><a href="/about-orthodoxy/clergy">The Clergy</a></li>
                            <li><a href="/about-orthodoxy/iconostasis">The Iconostasis</a></li>
                            <li><a href="/about-orthodoxy/sacristy-and-vestry">The Sacristy and Vestry</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
        <div class="small-12 medium-9 large-9 column">
            {{content }}
        </div>
    </div>
    <!-- Footer -->
    {% include footer.html %} {% include scripts.html %} {% include analytics.html %}
</body>

</html>