<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{page.title}} - Nativity of The Holy Virgin</title>
  {% include styles.html %}
</head>

<body>
  <!-- Header / Top Navigation -->
{% include header.html %}

  <!-- Body Content -->
  
  {{ content }}

  <!-- Footer -->
  {% include footer.html %}
  {% include scripts.html %}
  {% include analytics.html %}
</body>

</html>