<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nativity of The Holy Virgin - Orthodox Church of America</title>
  {% include styles.html %}
</head>

<body>

{% include header.html %}


  <!-- Body Content -->
  <div class="expanded row">
    <div class="hv-jumbo">
      <p class="hv-jumbo-text hv-large-text">Nativity Of the Holy Virgin</p>
      <p class="hv-jumbo-text hv-medium-text">Orthodox Church</p>
      <p class="hv-jumbo-text hv-small-text">Charlotte, North Carolina</p>
    </div>
    <div class="expanded row text-center">
      <div class="small-12 medium-8 columns">
        <br />
        <h1>Latest News Post</h1>
        {% assign latest_post = site.posts.first %}
       <h3>{{ latest_post.title }}</h3>
        <p><em>Posted by {{latest_post.author}} on {{latest_post.date | date: '%B %d, %Y'}}</em></p>
        <p>{{ latest_post.content}}</p>
        <hr />
        <h3>Welcome!</h3>
        <p>Thank you for visiting our Parish's website! Nativity of the Holy Virgin is located within the geographical and canonical
          boundaries of the Diocese of the South and within the canonical jurisdiction of the Orthodox Church of America.
          We welcome everyone to join us for worship.
        </p>
      </div>
      <div class="small-12 medium-4 columns">
      {% include schedule.html %}
      </div>
  </div>

{% include footer.html %}
{% include scripts.html %}
{% include analytics.html %}

</body>

</html>