<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nativity of The Holy Virgin - Orthodox Church of America</title>
  {% include styles.html %}
</head>

<body>

{% include header.html %}


  <!-- Body Content -->
  <div class="expanded row">
    <div class="hv-jumbo">
      <p class="hv-jumbo-text hv-large-text">Nativity Of the Holy Virgin</p>
      <p class="hv-jumbo-text hv-medium-text">Orthodox Church</p>
      <p class="hv-jumbo-text hv-small-text">Charlotte, North Carolina</p>
    </div>
    <div class="row text-center">
      <div class="small-12 medium-6 columns">
        <h1>Welcome!</h1>
        <p>Thank you for visiting our Parish's website! Nativity of the Holy Virgin is located within the geographical and canonical
          boundaries of the Diocese of the South and within the canonical jurisdiction of the Orthodox Church of America.
          We welcome everyone to join us for worship.
        </p>
      </div>
      <div class="small-12 medium-6 columns">
        <h2>Upcoming Services</h2>
        <p> Dec 24th @ 5:00 P.M. - Vigil for the Nativity</p>
        <p> Dec 25th @ 9:30 A.M. - Divine Liturgy for the Feast of the Nativity of our Lord - <b>Christ is Born! Glorify Him!</b></p>
        <p>Dec 31st - <b>NO VESPERS</b>
        <p>Jan 1st @ 9:10 A.M. (Note the earlier start time) - Divine Liturgy
        <h1>Service Schedule</h1>
        <h3>Sunday</h3>
        <p>Hours 9:10 AM</p>
        <p>Divine Litury 9:30 AM</p>
        <h3>Saturday</h3>
        <p>Great Vespers 5:30 PM</p>
      </div>
  </div>

{% include footer.html %}
{% include scripts.html %}
{% include analytics.html %}

</body>

</html>